# CODEOWNERS Template
# For full documentation, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/using-code-owners

# Default owners for all files in the repository
# * @datasciencecampus/some-team-name
